@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color:rgb(245, 239, 231);
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #c0385e;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #c0385e !important;
}

/* remove scroll bar  */
html ::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
